.nav-container{
    background: var(--primary-color);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-icon{
    width: 2.5em;
}
.logo_mobile{
    width: 3.5em;
}

.mobileView{
    display: none;

    background: var(--primary-color);
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    
}

.mobile-nav-list{
    list-style: none;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
}

.list-desktop, .btn-cv,.logo_wide {
    display: none;
}
@media (min-width: 768px){
    .menu-icon{
        display: none;
    }
    .list-desktop{
        display: block;
    }
    .nav-list{
        text-decoration: none;
        list-style: none;
        display: flex;
        gap: 2em;
        font-size: 2.5em;
    }
   
    
    .menu-icon_container{
        display: none;
    }
}
@media (min-width: 1024px){
    .nav-list .list .list-link{
        color: var(--text-color-grey);
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .nav-list .list .list-link:hover{
        color: var(--text-color);
        border-bottom: 4px solid blue;
        
    }
    .logo_mobile {
        display: none;
    }
    .logo_wide{
        display: block;
        width: 13em;
    }
    .btn-cv{
        display: flex;
        background: linear-gradient(to right, rgb(21, 4, 127),rgb(63, 1, 43));
        color: var(--text-color);
    }
    .btn-cv:hover{
        background: linear-gradient(to right, rgb(40, 10, 231),rgb(128, 3, 88));
    }
}

