.nav-container {
    background: var(--primary-color); /* Assuming you have a CSS variable defined for --primary-color */
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    width: 2.5rem;
  }
  
  .logo_mobile {
    width: 3rem;
  }
  
  .mobileView {
    width: 100%;
    background-color: rgba(9, 9, 9, 0.819);
    position: absolute;
    top: 4rem;
    left: 0;
    opacity: 0;
    z-index: 99;
    transition:all 0.5s ease-in-out; /* Added smooth transition for mobileView */
  }
  
  .mobileView.active {
    opacity: 100;

  }
  
  .mobile-nav-list {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .mobile-list:last-child {
    margin-top: .5rem;
  }
  
  .mobile-list-link {
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 2rem;
  }
  
  .btn-mobile {
    font-size: 0.7rem;
  }
  
  .hamburger-menu-raw {
    cursor: pointer;
  }
  
  .hamburger-menu-raw .bar {
    display: block;
    background-color: white;
    width: 2rem;
    height: .3rem;
    margin: .2rem auto;
    transition: all 0.6s ease-in-out;
  }

  .hamburger-menu-raw.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu-raw.active .bar:nth-child(1) {
    transform: translateY(.5rem) rotate(45deg);
  }
  
  .hamburger-menu-raw.active .bar:nth-child(3) {
    transform: translateY(-.5rem) rotate(-45deg);
  }
  
  .list-desktop,
  .btn-cv,
  .logo_wide {
    display: none;
  }

  @media (min-width: 425px){
   

  }
  
  @media (min-width: 768px) {
    .hamburger-menu-raw{
        display: none;
    }
    .nav-container{
      padding-left: 5%;
      padding-right: 5%;
  }
    .menu-icon {
      display: none;
    }
  
    .list-desktop {
      display: block;
    }
    .mobile-nav-list{
        display: none;
    }
  
    .nav-list {
      text-decoration: none;
      list-style: none;
      display: flex;
      gap: 1rem;
      
    }
    .nav-list .list-link{
        font-size: .8rem;
        color: var(--text-color-grey);
    }
    .nav-list .list-link:active{
        color: var(--text-color);
    }
  
    .btn-cv {
      display: inline-flex;
      font-size: .7rem;
    }
  
    .menu-icon_container {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    
    .nav-list .list .list-link {
      font-size: .9rem;

    }
  
    .nav-list .list .list-link:hover {
      color: var(--text-color); /* Assuming you have a CSS variable defined for --text-color */
      border-bottom: 4px solid blue;
    }
  
    .logo_mobile {
      display: none;
    }
  
    .logo_wide {
      display: block;
      width: 9rem;
    }
  
    .btn-cv {
      display: flex;
      background: linear-gradient(to right, rgb(21, 4, 127), rgb(63, 1, 43));
      color: var(--text-color);
    }
  
    .btn-cv:hover {
      background: linear-gradient(to right, rgb(40, 10, 231), rgb(128, 3, 88));
    }
  }