.portfolio{
   
}
.portfolio-header{
   text-align: center;
   text-transform: uppercase;
   font-size: 3rem;
   color: hsla(0, 0%, 50%, 0.692);
   
}

.portfolio-cards{
   position: relative;
   display:grid ;
   gap: 2em;
   grid-template-columns: 1fr;
   
}
.portfolio-More{
   display: flex;
   justify-content: end;
}

@media (min-width:768px){
   .portfolio-cards{
      /*display:grid ;
      gap: 4em;
      grid-template-columns: 1fr 1fr;*/
   }
}
@media (min-width:1024px){
}