
.portfolio-cards{
   display:grid ;
   grid-template-columns: 1fr;
}
@media (min-width:768px){
   .portfolio-cards{
      display:grid ;
      grid-template-columns: 1fr 1fr;
   }
}
@media (min-width:1024px){
   .portfolio-cards{
      height: 100vh;
      align-items: center;
      display:grid ;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}