@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import './Components/Variable.css';

:root {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(32, 151, 151);
  }
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 10px;
    
}
.btn{
    border: none;
    padding: .6em 1.1em;
    border-radius: .7em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
}

body{
    color:var(--text-color);
    background:var(--primary-color);
    
}
.btn{
    display: flex;
        background: linear-gradient(to right, rgb(21, 4, 127),rgb(63, 1, 43));
        border: none;
        padding: .4em 1.1em;
        border-radius: .7em;
        color: var(--text-color);
        cursor: pointer;
        font-weight: bold;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
    
}
@media (min-width: 768px){
    .btn:hover{
        background: linear-gradient(to right, rgb(40, 10, 231),rgb(128, 3, 88));
        color: var(--text-color);
    }
}

