@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import './Components/Variable.css';

:root {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(32, 151, 151);
  }
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    
}
.btn{
    border: 1px var(--text-color) solid;
    padding: .4rem .5rem;
    border-radius: .7rem;
    cursor: pointer;
    font-size: 1.1rem;
    outline: none;
    color: var(--text-color);
    background: linear-gradient(to right, rgb(21, 4, 127),rgb(63, 1, 43));
}

body{
    color:var(--text-color);
    background:var(--primary-color);
    
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
    
}
@media (min-width: 768px){
    .btn:hover{
        background: linear-gradient(to right, rgb(40, 10, 231),rgb(128, 3, 88));
        color: var(--text-color);
    }
}

