.hero {
    width: 100%;
    min-height: 100vh; /* Use min-height instead of height for better responsiveness */
    background: linear-gradient(rgba(10, 10, 10, 0.281), rgba(4, 1, 27, 0.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: 80%; /* Center the background image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--text-color); /* Add color to the text for better readability */
    padding: 2rem; /* Add padding for better spacing */
  }
  
  .hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 40rem; /* Limit text width for better readability */
    text-align: center;
  }
  
  @media (min-width: 425px) {
    .hero h1 {
      font-size: 2.5rem;
    }
  
    .hero h2 {
      font-size: 1.5rem;
    }
  
    .hero p {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 768px) {
    .hero {
      align-items: flex-start;
      justify-content: flex-start;
      padding: 4rem;
    }
  
    .hero h1 {
      font-size: 3rem;
    }
  
    .hero h2 {
      font-size: 1.8rem;
    }
  
    .hero p {
      font-size: 1.4rem;
      text-align: left;
    }
  }
  
  @media (min-width: 1024px) {
    .hero h1 {
      font-size: 4rem;
    }
  
    .hero h2 {
      font-size: 2.5rem;
    }
  
    .hero p {
      font-size: 1.6rem;
    }
  }
  