
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,.7),rgba(8,0,58,.7)) ,url('../../assets/hero.png');/*add gredient with ai genreted photo*/
    background-size: cover;
    background-position: center;
    color: white;
    
    display: flex;
    align-items: center;
}
.hero-text{
    text-align: left;
    max-width: 800px;

}
.hero-text h1{
    font-size: 80px;

}
.hero-text h2{
    font-size: 25px;
}
.hero-text p{
    padding-bottom: 10px;
    line-height: 1.4;
}

.btn2 .Arrow{
    width: 30px;
    margin-left: 10px;
}

