.card-container{
  position: relative;
  

}
.card-container img{
  width: 40em;
  border-radius: 10%;
}
.card-text{
  width: 40em;
  padding: 1.5em; 
}
.card-head{
  text-align: center;
  
}

.card-container:hover{
  .card-text{
    position: absolute;
    top: 30%;
    bottom: 0;
  
    width: 40em;
    padding: 1.5em; 
    transition:position 2s ease-in;
  }
}
