.contact{
  padding: 1.5em;
}
.contact form{
  border: 2px solid green;
  

}
.contact form h2{
  text-align: center;
  font-size: 2em;
  margin-bottom: 2em;
}
.feild{
  width: 100%;
}
.input-box label{
  font-size: 2em;

}
.input-box .field{
  width: 100%;
  border: 2px solid green;
  outline: none;
  background: rgb(41, 41, 43);
  border-radius: 5px;
  padding:1em;
  margin-bottom: 1em;
  color: white;
  margin-top: 1em;

  }
  .input-box .field .mess{
    height: 200px;
    resize: none;
  }
