.footer{

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copywrite img{
    width: 50px;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
