.footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.row{
   

}
.footer-copywrite{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.footer-copywrite div{
    
    font-size: .7rem;
}
.footer-copywrite img{
    margin-top: 2rem;
    width: 3rem;
}
.footer-icons{
    list-style: none;
    display:flex;
    justify-content:center;
    align-items: center;
}
